@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Open+Sans");


html{
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*overflow: hidden;*/
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #43c6ac, #191654);
    background-repeat: no-repeat;
    line-height: 1.6em;
    color: white;
}



#map { position:absolute; top:10rem; bottom:10rem; width:100%; }

.flex-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    margin-right: 10%;
    margin-left: 10%;
}
.logo-image{
    width:40px;
    height: auto;
    margin-top: 5px;
    margin-right: 10px;
}
.navbar-brand{
    font-family: 'Cedarville Cursive', cursive;
    color: white;
    font-size: 3.5rem;
}
.navbar-inverse .navbar-brand{
    color: black;
}
.navbar-inverse .navbar-nav li a{
  color:white;
}
.navbar-inverse .navbar-nav li a:hover{
  color:rgb(201, 199, 86);
}

.navbar{
    margin-bottom: 0;
    background: rgba(68, 68, 68, 0);
    border:none;
}

.login{
    border-style: solid;
    border-radius: 20px;
    /*background: linear-gradient(#040435,rgb(0, 0, 0));*/
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.signin{
    margin-top: 12%;
}

.newtrip{
  margin-top:5%;
}

.signin-text{
    margin: 0;
    margin-top: 10px;
}

.header {
    height: 60vh;
    /*background: #009FFF;
    background: linear-gradient(to right, #ec2F4B, #009FFF);*/
    color: white;
    clip-path: ellipse(100vw 60vh at 50% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.details {
    text-align: center;
}
  
.profile-pic {
    height: 15rem;
    width: 15rem;
    object-fit: center;
    border-radius: 50%;
    border: 2px solid #fff;
}

.location p {
    display: inline-block;
    font-size: 2rem;
}
  
.location svg {
    vertical-align: middle;
}
  
.stats {
    display: flex;
}

.stats .col-4 {
    width: 15rem;
    text-align: center;
}
  
.heading {
    font-weight: 400;
    font-size: 3.3rem;
    margin: 1rem 0;
}

.gender{
  color:black;
}

.profile-img{
  object-fit: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left:15px;
  margin-top:5px;
  border: 2px solid #fff;  
}

.message {
    border: 1px solid #d2d0d0;
    padding: 2em;
    font-size: 1.7vw;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  }
  @supports (display: grid) {
    .message {
      display: none;
    }
  }
  
  .section {
    display: none;
    padding: 2rem;
  }
  @media screen and (min-width: 768px) {
    .section {
      padding: 4rem;
    }
  }
  @supports (display: grid) {
    .section {
      display: block;
    }
  }
  
  h1 {
    font-size: 5rem;
    margin: 10px 0 1.5rem;
  }
  
  .grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
  }
  
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    /*background: url("https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");*/
    background-size: cover;
    background-position: center;
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    cursor: pointer;
    counter-increment: item-counter;
  }
  .item:nth-of-type(1n) {
    background-image: url("https://wildwestcomms.co.uk/wp-content/uploads/2017/02/air-760325_960_720-1.jpg");
  }
  .item:nth-of-type(2n) {
    background-image: url("https://cdn.cliqueinc.com/cache/posts/90692/instagram-travel-photos-90692-1493336251337-main.700x0c.jpg");
  }
  .item:nth-of-type(3n) {
    background-image: url("https://assets.blog.hgtv.ca/wp-content/hgtv-wp/2017/05/canadian-instagram-travel.jpg");
  }
  .item:nth-of-type(4n) {
    background-image: url("https://trekbible.com/wp-content/uploads/2018/06/33559569_467946226970652_7668148028032679936_n.jpg");
  }
  .item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }
  .item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .item:hover:after {
    opacity: 0;
  }
  .item--medium {
    grid-row-end: span 2;
  }
  .item--large {
    grid-row-end: span 3;
  }
  .item--full {
    grid-column-end: span 2;
  }
  @media screen and (min-width: 768px) {
    .item--full {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }
  .item__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;
  }
  .item__details:before {
    content: counter(item-counter);
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 0.5em;
    color: #444;
  }
.seperator{
    width:100%;
    height: 40 px;
    background-color: white
}

.brand{
    color: black;
    text-align: center; 
    /*font-size: 20rem;*/
    font-family: 'Cedarville Cursive', cursive;
}

.footer{
    text-align: center;
}

.signup{
    width:50%;
}

.modal{
  z-index: 1100;
}

.startup-text{
  text-align: center;
}

.date{
  color: #000;
}